@use "sass:map";

$initial_color_name: "base";
$initial_color_value: #000;

@function init_color_map($color_map: ()) {
  @return map.merge(($initial_color_name: $initial_color_value), $color_map);
}

@function get_color($color_map: (), $color_name: $initial_color_name) {
  @return map.get($color_map, $color_name);
}

@function set_color($color_map: (), $color_name: $initial_color_name, $color_value: $initial_color_value) {
  @return map.merge($color_map, ($color_name: $color_value));
}
