$default_accent_rgb: #e3bf63;
$default_accent_rgb_hue: extract_hue($default_accent_rgb); // 43
$default_accent_rgb_saturation: extract_saturation($default_accent_rgb); // 70%
$default_accent_rgb_brightness: extract_brightness($default_accent_rgb); // 64%

///
/// Данные акцентного цвета (тон, варианты контраста [насыщенность, яркость])
/// @type Map
///
$default_accent_color_data: ("h": $default_accent_rgb_hue, "contrasts": (
  /** Переход от светлого к темному */
  "lower":  ("s": 33%, "l": 97%), // #FAF9F5
  "low":    ("s": 58%, "l": 86%), // #F0E8C7
  "medium": ("s": 70%, "l": 64%), // #E3BF63
  "high":   ("s": 16%, "l": 32%), // #5F5945
  "higher": ("s": 10%, "l": 20%)  // #38362E
));
