@function extract_hue($color_name) {
  @return round(hue($color_name));
}

@function extract_saturation($color_name) {
  @return round(saturation($color_name));
}

@function extract_brightness($color_name) {
  @return round(lightness($color_name));
}

$default_primary_rgb: #3167c4;
$default_primary_rgb_hue: extract_hue($default_primary_rgb); // 218
$default_primary_rgb_saturation: extract_saturation($default_primary_rgb); // 60%
$default_primary_rgb_brightness: extract_brightness($default_primary_rgb); // 48%

///
/// Данные основного цвета (тон, варианты контраста [насыщенность, яркость])
/// @type Map
///
$default_primary_color_data: ("h": $default_primary_rgb_hue, "contrasts": (
  /** Переход от светлого к темному */
  "lower":  ("s": 16%, "l": 75%),
  "low":    ("s": 62%, "l": 62%),
  "medium": ("s": 60%, "l": 48%),
  "high":   ("s": 72%, "l": 30%),
  "higher": ("s": 16%, "l": 25%)
));
