$default_secondary_rgb: #3189c4;
$default_secondary_rgb_hue: extract_hue($default_secondary_rgb); // 204
$default_secondary_rgb_saturation: extract_saturation($default_secondary_rgb); // 60%
$default_secondary_rgb_brightness: extract_brightness($default_secondary_rgb); // 48%

///
/// Данные второстепенного цвета (тон, варианты контраста [насыщенность, яркость])
/// @type Map
///
$default_secondary_color_data: ("h": $default_secondary_rgb_hue, "contrasts": (
  /** Переход от светлого к темному */
  "lower":  ("s": 16%, "l": 75%),
  "low":    ("s": 62%, "l": 67%),
  "medium": ("s": 60%, "l": 48%),
  "high":   ("s": 32%, "l": 37%),
  "higher": ("s": 16%, "l": 25%)
));
