// XS
$screen_xs: 480px;
$screen_xs_min: px_to_rem($screen_xs, $body_font_size);

// SM
$screen_sm: 768px;
$screen_sm_min: px_to_rem($screen_sm, $body_font_size);

// MD
$screen_md: 992px;
$screen_md_min: px_to_rem($screen_md, $body_font_size);

// LG
$screen_lg: 1200px;
$screen_lg_min: px_to_rem($screen_lg, $body_font_size);

// MAX
$screen_xs_max: $screen_sm_min - px_to_rem(1, $body_font_size);
$screen_sm_max: $screen_md_min - px_to_rem(1, $body_font_size);
$screen_md_max: $screen_lg_min - px_to_rem(1, $body_font_size);

// MEDIA
$media_screen_xs: "only screen and (max-width: #{$screen_xs_max})";
$media_screen_sm: "only screen and (min-width: #{$screen_sm_min}) and (max-width: #{$screen_sm_max})";
$media_screen_md: "only screen and (min-width: #{$screen_md_min}) and (max-width: #{$screen_md_max})";
$media_screen_lg: "only screen and (min-width: #{$screen_lg_min})";
