$has_grid_layout: true !default;
$has_gradients: true !default;
$has_rounded_corners: true !default;
$has_cast_shadow: true !default;

///
/// Шрифт тела по умолчанию.
/// @type List
///
$body_font_family: arial, sans-serif !default;

///
/// Размер шрифта по умолчанию (указывается в пикселях)
/// @type Number
///
$body_font_size: 16px !default;

///
/// Высота строки по умолчанию.
/// @type Number
///
$body_line_height: 1.4 !default;

///
/// Цвет текста тела по умолчанию.
/// @type Color
///
$body_font_color: #000 !default;

///
/// Цвет фона тела по умолчанию.
/// @type Color
///
$body_background: #fff !default;

///
/// Радиус закругления углов.
/// @type Number
///
$corner_radius: 2px !default;

@import "./colors";
