@use "./button-props" as btn_props;
@import "button-reset";
@import "../../extracts/rounded";
@import "../../extracts/shadow";

.#{$btn_name} {
  @include button_reset;
  @include rounded($btn_border_radius);

  border-width: $btn_border_width;
  border-style: $btn_border_style;

  // @include shadow($btn-boxShadow);
  // transition: $btn_transition;
  min-height: $btn_min_height;

  // margin: $btn_margin;
  appearance: none;

  // -webkit-font-smoothing: antialiased;
  user-select: none;
  outline: none;
  display: inline-block;

  @include element((), "inner") {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include modifiers((), "has-icon") {
    .#{$btn_name} {
      @include element((), "inner") {
        justify-content: space-between;
      }
    }

    i {
      font-size: 12px;
      margin-left: 3px;
      color: #fff;
      text-shadow: none;
    }
  }

  @include element((), "text") {
    -webkit-font-smoothing: antialiased;
  }

  @include element((), "text") {
    // Empty
  }
}

.btn {
  @include modifiers((), "fullwidth") {
    display: block;
    width: 100%;
  }

  // TODO: Перенести в тему
  @include modifiers((), "outline") {
    // Empty
  }
}
