$btn_sizename_list: xs sm md lg;

.#{$btn_name} {
  @for $i from 1 through length($btn_sizename_list) {
    @include modifiers((), #{nth($btn_sizename_list, $i)}) {
      .#{$btn_name} {
        @include element((), "inner") {
          padding: px_to_rem(2px * $i, $body_font_size) px_to_rem(4px * $i, $body_font_size);
        }

        @include element((), "text") {
          font-size: px_to_rem(8px + 2 * $i, $body_font_size);
          line-height: 1.25;
        }
      }
    }
  }

  @include modifiers((), "lg") {
    border-radius: px_to_rem(4.8px, $body_font_size);

    .#{$btn_name} {
      @include element((), "inner") {
        // Empty
      }

      @include element((), "text") {
        // Empty
      }
    }
  }

  @include modifiers((), "md") {
    border-radius: px_to_rem(4px, $body_font_size);

    .#{$btn_name} {
      @include element((), "inner") {
        // Empty
      }

      @include element((), "text") {
        // Empty
      }
    }
  }

  @include modifiers((), "sm") {
    border-radius: px_to_rem(3.2px, $body_font_size);

    .#{$btn_name} {
      @include element((), "inner") {
        // Empty
      }

      @include element((), "text") {
        // Empty
      }
    }
  }

  @include modifiers((), "xs") {
    .#{$btn_name} {
      @include element((), "inner") {
        // Empty
      }

      @include element((), "text") {
        // Empty
      }
    }
  }
}
