$btn_name: "btn" !default;
$btn_font_family: inherit !default; /** Необходимо наследовать значение свойства у родительского элемента */
$btn_font_weight: 700 !default;
$btn_text_align: center !default;
$btn_text_decoration: none !default;
$btn_border_width: 1px !default;
$btn_border_style: solid !default;
$btn_border_radius: 2px !default;

//$btn-boxShadow: 0 4px 8px 0 rgba(desaturate(get-color("primary", "dark"), 50%), .25) !default;
    //// box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08);
    //// 0 1px 0 rgba(255, 255, 255, .6) inset
//$btn-boxShadow: 0 1px 1px 0 #b8c4c9;
$btn_min_width: 80px !default;
$btn_min_height: auto !default;
$btn_margin: 0 0 8px !default;
$btn_transition: background-color 150ms ease !default;
$btn_skin_flatted: false !default;
