@mixin button_reset {
  // Цвет текста (наследовать от родителя)
  color: inherit;

  // Имя и размер шрифта (наследовать от родителя)
  font: inherit;
  font-size: inherit;

  // Высота строки
  line-height: 100%;

  // Оформление текста и регистр символов (отсутствует)
  text-decoration: none;
  text-transform: none;

  // Выравнивание элемента по вертикали относительно своего родителя
  vertical-align: baseline;

  // Цвет заливки (прозрачный)
  background-color: transparent;

  // Убираем границы
  border: none;

  // Скругление углов (нет)
  border-radius: 0;

  // Внутренний/внешний отступ отсутствует
  padding: 0;
  margin: 0;

  // Относительное позиционирование
  position: relative;

  // Вид курсора */
  cursor: pointer;

  // Не используем стандартное представление элемента
  appearance: none;
}
