@use "sass:map";
@use "../../resources/color-state" as color_state_obj;
@use "../state-mixins" as state_checker;

@mixin set_background_color($color_map, $color_name, $state_map) {
  @include state_checker.is_norm($state_map) {
    background-color: color_state_obj.get_value($color_map, "norm", $color_name);
  }

  @include state_checker.is_hovered($state_map) {
    background-color: color_state_obj.get_value($color_map, "hovered", "#{$color_name}-hovered");
  }

  @include state_checker.is_focused($state_map) {
    background-color: color_state_obj.get_value($color_map, "focused", "#{$color_name}-focused");
  }
}
