@use "sass:map";
@use "~timcowebapps/common.ooscss/src/methodology/bem/index" as bem;
@use "./state" as state_obj;

@mixin is_norm($state_map) {
  @if state_obj.check($state_map, "norm") {
    & {
      @content;
    }
  }
}

@mixin is_hovered($state_map) {
  @if state_obj.check($state_map, "hovered") {
    @include bem.modifiers((), "hovered") {
      @content;
    }

    &:hover {
      @content;
    }
  }
}

@mixin is_focused($state_map) {
  @if state_obj.check($state_map, "focused") {
    @include bem.modifiers((), "focused") {
      @content;
    }

    &:focus {
      @content;
    }
  }
}
