@use "sass:meta";
@use "../../modules/misc/resources/color-state" as color_state_obj;

$theme_path: "theme/default" !default;

@include meta.load-css($theme_path);

$color_map: ();

// NORMAL
$color_map: color_state_obj.new_state($color_map, "normal", ("base": #000));
$color_map: color_state_obj.set_value($color_map, "normal", "text", var(--list-primary-text, #000));
$color_map: color_state_obj.set_value($color_map, "normal", "background", transparent);
$color_map: color_state_obj.set_value($color_map, "normal", "border", rgba(0, 0, 0, 7.5%));

// ACTIVE
$color_map: color_state_obj.new_state($color_map, "active");
$color_map: color_state_obj.set_value($color_map, "active", "text", var(--list-active-text, #000));
$color_map: color_state_obj.set_value($color_map, "active", "background", rgba(0, 0, 0, 5%));
$color_map: color_state_obj.set_value($color_map, "active", "border", rgba(0, 0, 0, 70%));
$color_map: color_state_obj.set_value($color_map, "active", "pseudo", var(--list-active-pseudo-color, rgb(149, 36, 36)));
