@use "sass:map";
@use "./list-properties" as list_props with ($theme_path: $custom_list_theme_path);
@import "../typography/text/text-truncate";
@import "./list-item-style";

.#{$custom_list_class_name}-wrap {
  @include modifiers((), "is-stuck") {
    // Empty
  }

  .#{$custom_list_class_name} {
    @include element((), "item") {
      position: relative;

      @include modifiers((), "has-children") {
        position: static;

        @include element((), "sub-list") {
          // Empty
        }
      }

      .link,
      .text {
        font-size: px_to_rem(14px, $body_font_size);
        line-height: 24px;
        letter-spacing: 0;

        @include text_truncate;

        display: block;
        padding: px_to_rem(10px, $body_font_size) px_to_rem(15px, $body_font_size);

        &:focus {
          outline: 1px dashed;
          outline-offset: 0;
          outline-color: $body_font_color;
        }
      }

      @include modifiers((), "is-active") {
        .text {
          font-weight: 600;
          cursor: default;
        }
      }
    }
  }
}
