@use "~timcowebapps/common.ooscss/src/methodology/bem/index" as bem;
@use "../../modules/misc/resources/color-state" as color_state_obj;
@use "./list-properties" as list_props;

%navlist_item_decorate {
  .#{$custom_list_class_name} {
    @include bem.element((), "item") {
      &::after {
        content: "";
        position: absolute;
        left: -1px;
        top: -1px;
        bottom: -1px;
        width: 3px;
        background-color: transparent;
        z-index: 2;
      }

      @include bem.modifiers((), "is-active") {
        &::after {
          background-color: color_state_obj.get_value(list_props.$color_map, "active", "pseudo");
        }
      }
    }
  }
}

.#{$custom_list_class_name}-wrap {
  @include modifiers((), "side-left") {
    @extend %navlist_item_decorate;
  }
}
