@use "sass:math";

@mixin make_column_modifiers($class) {
  @for $i from 1 through $grid_columns {
    @include modifiers((), #{$class}-#{$i}) {
      max-width: math.percentage(math.div($i, $grid_columns));
      flex: 0 0 math.percentage(math.div($i, $grid_columns));
    }
  }
}

@mixin make_columns {
  @media #{$media_screen_xs} { @include make_column_modifiers(xs); }
  @media #{$media_screen_sm} { @include make_column_modifiers(sm); }
  @media #{$media_screen_md} { @include make_column_modifiers(md); }
  @media #{$media_screen_lg} { @include make_column_modifiers(lg); }
}

.column {
  @include make_columns;

  position: relative;
  max-width: 100%;
  min-height: 1px;
  flex: 0 0 100%;
  padding-left: px_to_rem(math.div($grid_gutter_width, 2), $body_font_size);
  padding-right: px_to_rem(math.div($grid_gutter_width, 2), $body_font_size);
}
