@use "sass:math";

/* #region Размеры контейнера */

/** Маленький размер контейнера. */
$container_sm: px_to_rem(720px + $grid_gutter_width, $body_font_size);

/** Средний размер контейнера. */
$container_md: px_to_rem(940px + $grid_gutter_width, $body_font_size);

/** Большой размер контейнера. */
$container_lg: px_to_rem(1140px + $grid_gutter_width, $body_font_size);

/* #endregion */

@mixin make_container() {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: px_to_rem(math.div($grid_gutter_width, 2), $body_font_size);
  padding-right: px_to_rem(math.div($grid_gutter_width, 2), $body_font_size);
  width: 100%;
}

.container {
  @include make_container;

  @media #{$media_screen_sm} { width: $container_sm; }
  @media #{$media_screen_md} { width: $container_md; }
  @media #{$media_screen_lg} { width: $container_lg; }
}

.container-fluid {
  @include make_container;
}
