@use "sass:math";

@mixin make_row {
  display: flex;
  flex-flow: row wrap;

  @include modifiers((), "around") { justify-content: space-around; }
  @include modifiers((), "between") { justify-content: space-between; }

  @include modifiers((), "start") { justify-content: flex-start; }
  @include modifiers((), "center") { justify-content: center; }
  @include modifiers((), "end") { justify-content: flex-end; }

  @include modifiers((), "top") { align-items: flex-start; }
  @include modifiers((), "middle") { align-items: center; }
  @include modifiers((), "bottom") { align-items: flex-end; }
}

.row {
  margin-left: -#{px_to_rem(math.div($grid_gutter_width, 2), $body_font_size)};
  margin-right: -#{px_to_rem(math.div($grid_gutter_width, 2), $body_font_size)};

  @include make_row();
}
