@use "sass:color";

:root {
  // PRIMARY
  --list-primary-text: #4d79a3;
  --list-primary-text-hovered: #{color.scale(#4d79a3, $lightness: -30%)};
  --list-primary-background: transparent;
  --list-primary-background-hovered: transparent;

  // ACTIVE
  --list-active-text: #4d79a3;
  --list-active-pseudo-color: #4d79a3;
}
