@use "sass:math";

///
/// Обрезает единицу измерения
///
/// @param {String | Number} $target Целевое значение
///
/// @return {Number} Числовое значение
///
@function strip_unit($target) {
  @if type-of($target) == "number" and not unitless($target) {
    @return math.div($target, ($target * 0 + 1));
  }

  @return $target;
}

///
/// Переводит px в rem
///
/// @requires {function} strip_unit
///
/// @param {String | Number} $target Значение в px, которое следует перевести
/// @param {String | Number} $context Базовый размер пикселя
///
/// @return {String} rem
///
@function px_to_rem($target, $context) {
  @return math.div(strip_unit($target), strip_unit($context)) + 0rem;
}

///
/// Переводит rem в px
///
/// @requires {function} strip_unit
///
/// @param {String | Number} $target Значение в rem, которое следует перевести
/// @param {String | Number} $context Базовый размер пикселя
///
/// @return {String} px
///
@function rem_to_px($target, $context) {
  @return (strip_unit($target) * strip_unit($context)) + 0rem;
}

///
/// Переводит percentage в fr
///
/// @requires {function} strip_unit
///
/// @param {String | Number} $target Значение в percentage
///
/// @return {String} fr
///
@function percentage_to_fr($target) {
  @return (math.div(strip_unit($target), 100)) + 0fr;
}
