[data-text-size="norm"] {
  .typography {
    // Построение размеров шрифта.
    @include font_makesize_modifiers(1);
  }
}

[data-text-size="lg"] {
  .typography {
    // Построение размеров шрифта.
    @include font_makesize_modifiers(1.5);
  }
}

[data-text-size="lg:2"] {
  .typography {
    // Построение размеров шрифта.
    @include font_makesize_modifiers(2);
  }
}

[data-kerning="norm"] {
  .typography {
    letter-spacing: 0;
  }
}

[data-kerning="sm"] {
  .typography {
    letter-spacing: 2px;
  }
}

[data-kerning="lg"] {
  .typography {
    letter-spacing: 4px;
  }
}

.typography {
  // Построение вариантов толщины.
  @include font_makeweight_modifiers();
  @include modifiers((), "decor-none") { text-decoration: none; }
  @include modifiers((), "truncate") { @include text_truncate; }
  @include modifiers((), "truncate-3") { @include text_truncate($num_lines: 3); }
  @include modifiers((), "truncate-5") { @include text_truncate($num_lines: 5); }
  @include modifiers((), "center") { text-align: center; }
  @include modifiers((), "right") { text-align: right; }
  @include modifiers((), "left") { text-align: left; }
  @include modifiers((), "white") { color: $text_color_white; }
  @include modifiers((), "black") { color: $text_color_black; }
  @include modifiers((), "muted") { color: $text_color_muted; }
  @include modifiers((), "primary") { color: $text_color_primary; }
  @include modifiers((), "secondary") { color: $text_color_secondary; }
  @include modifiers((), "success") { color: $text_color_success; }
  @include modifiers((), "danger") { color: $text_color_danger; }
  @include modifiers((), "warning") { color: $text_color_warning; }
  @include modifiers((), "info") { color: $text_color_info; }
}
