$item_ht: px_to_rem(30px, $body_font_size);
$item_text_clr: var(--primary_hig_clr);
$item_text_clr_hovered: var(--accent_clr);
$item_text_fontsize: px_to_rem(15px, $body_font_size);
$item_stup_pseudo_fgnd_clr: var(--primary_hig_clr);
$item_stup_pseudo_bkgd_clr: rgba(0 0 0 / 7%);
$item_stup_pseudo_fontsize: px_to_rem(13px, $body_font_size);
