@import "../typography/text/text-truncate";

%menu_item_wrap {
  display: flex;
  align-items: center;
  padding: 0 px_to_rem(14px, $body_font_size);
  width: 100%;
  height: px_to_rem(30px, $body_font_size);

  > .menu-item {
    @include element((), "label") {
      color: MenuItemProps.$item_text_clr;
      font-size: MenuItemProps.$item_text_fontsize;

      // Обрезка текста
      @include text_truncate;
    }
  }
}
