@mixin corner_tile_keyframes($animation_name, $translate_x, $translate_y) {
  @keyframes #{$animation_name} {
    0% {
      transform: translate(0, 0);
      opacity: 0.9;
    }

    55% {
      transform: translate($translate_x, $translate_y);
      opacity: 0.7;
    }

    80% {
      transform: translate(0, 0);
      opacity: 0.7;
    }

    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

@include corner_tile_keyframes(ripple_tl, -3px, -3px);
@include corner_tile_keyframes(ripple_bl, -3px,  3px);
@include corner_tile_keyframes(ripple_tr,  3px, -3px);
@include corner_tile_keyframes(ripple_br,  3px,  3px);
