/* #region Переменные поля */

$dropdown_trigger_height: px_to_rem(40px, $body_font_size);
$dropdown_listitem_height: $dropdown_trigger_height;
$dropdown_name: "form-dropdown" !default;
$dropdown_font_family: inherit !default;
$dropdown_font_color: $body_font_color !default;
$dropdown_font_size: px_to_rem(14px, $body_font_size) !default;
$dropdown_line_height: $dropdown_trigger_height !default;
$dropdown_background_intermediate_unfocused: #fff !default;
$dropdown_background_intermediate_focused: #fff !default;
$dropdown_border_color_intermediate_unfocused: get_color($DEFAULT_THEME_NAME, "primary", "high") !default;
$dropdown_border_color_intermediate_focused: get_color($DEFAULT_THEME_NAME, "primary", "medium") !default;
$dropdown_border_width: 2px !default;
$dropdown_border_style: solid !default;
$dropdown_box_shadow: 0 2px 8px 0 rgba(0 0 0 / 12%) !default;
$dropdown_height: $dropdown_trigger_height !default;
$dropdown_arrow_background: get_color($DEFAULT_THEME_NAME, "primary", "high") !default;
$dropdown_arrow_width: $dropdown_trigger_height !default;
$dropdown_arrow_height: $dropdown_trigger_height !default;

/* #endregion */
