<div class="form-dropdown">
  <select class="form-dropdown__select" name="{{name}}" required runat="server">
    <option value="" selected disabled>{{placeholder}}</option>
    <option value="{{item.value.0}}">{{ item.value.0 }}</option>
    <option value="{{item.value.1}}">{{ item.value.1 }}</option>
  </select>

  <div class="form-dropdown__arrow">
    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" height="15px">
      <path d="m21 8.5-9 9-9-9" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"></path>
    </svg>
  </div>
</div>
