$dropdown_trigger_height: px_to_rem(40px, $body_font_size);
$dropdown_listitem_height: $dropdown_trigger_height;

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  @include element((), "trigger") {
    color: #333;
    font-size: $body_font_size;
    font-weight: normal;
    line-height: $dropdown_trigger_height;
    background-color: #fff;
    border: 2px solid #333;
    box-shadow: 0 2px 8px 0 rgba(0 0 0 / 12%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 px_to_rem(15px, $body_font_size);
    height: $dropdown_trigger_height;
    cursor: pointer;
  }

  @include element((), "list") {
    background-color: #fff;
    border: 1px solid #333;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
  }

  @include element((), "listitem") {
    color: #333;
    font-size: $body_font_size;
    font-weight: normal;
    line-height: $dropdown_listitem_height;
    position: relative;
    display: block;
    padding: 0 px_to_rem(15px, $body_font_size);
    cursor: pointer;

    &:hover {
      background-color: rgba(0 0 0 / 10%);
    }
  }
}
