.#{$dropdown_name} {
  position: relative;
  display: flex;
  flex-direction: column;

  @include element((), "select") {
    /* #region Стили шрифта */

    color: get_textfield_role($default_palette_textfield, "norm", "window_text-color");
    font-family: $textfield_font_family;
    font-size: $textfield_font_size;
    line-height: $dropdown_line_height;

    /* #endregion */

    /* #region Цвет заливки */

    background-color: $dropdown_background_intermediate_unfocused;
    background-image: none;

    /* #endregion */

    /* #region Обводка элемента */

    border-width: $dropdown_border_width;
    border-style: $dropdown_border_style;
    border-color: $dropdown_border_color_intermediate_unfocused;

    /* TEMP */
    box-shadow: $dropdown_box_shadow;

    /* #endregion */

    width: 100%;
    height: $dropdown_height;
    padding: 0 65px 0 10px;
    box-sizing: border-box;
    outline: none;

    /* #region Удаляем стрелку раскрывающегося списка */

    appearance: none;

    &::-ms-expand {
      display: none;
    }

    /* #endregion */

    &[runat="server"] {
      &:focus {
        background-color: $dropdown_background_intermediate_focused;
        border-color: $dropdown_border_color_intermediate_focused;
        outline: 1px dashed;
        outline-offset: 2px;
      }
    }

    option:checked {
      // Empty
    }
  }

  @include element((), "arrow") {
    /* #region Цвет заливки */

    background: $dropdown_arrow_background;

    /* #endregion */

    /* #region Позиционирование */

    position: absolute;
    top: 0;
    right: 0;

    /* #endregion */

    /* #region Размеры */

    width: $dropdown_arrow_width;
    height: $dropdown_arrow_height;

    /* #endregion */

    /* #region Централизация внутри текущего блока */

    display: flex;
    align-items: center;
    justify-content: center;

    /* #endregion */

    cursor: pointer;
    pointer-events: none;
  }
}
