@use "sass:list";
@import "~timcowebapps/common.ooscss/src/methodology/bem/index";

@function sort_name_list($variant_name_list, $def_variant_name) {
  $def_variant_name_idx: list.index($variant_name_list, $def_variant_name);
  $sorted_list: list.nth($variant_name_list, $def_variant_name_idx);

  @for $i from 1 through list.length($variant_name_list) {
    @if $i != $def_variant_name_idx {
      $sorted_list: list.append($sorted_list, list.nth($variant_name_list, $i), "space");
    }
  }

  @return $sorted_list;
}

@mixin modifier_or_default($element_class_name, $variant_name, $default_variant_name) {
  @if $variant_name == $default_variant_name {
    @layer #{$element_class_name}_base_variant {
      .#{$element_class_name} {
        @content;
      }
    }
  }

  @layer #{$element_class_name}_#{$variant_name}_variant {
    .#{$element_class_name} {
      @include modifiers((), $variant_name) {
        @content;
      }
    }
  }
}

@mixin with_default($element_class_name, $variant_name_list, $used_variant_default) {
  $sorted_variant_name_list: sort_name_list($variant_name_list, $used_variant_default);

  @each $curr_variant_name in $sorted_variant_name_list {
    @include modifier_or_default($element_class_name, $curr_variant_name, $used_variant_default) {
      @content($curr_variant_name);
    }
  }
}
