$text_color_white: #fff !default;
$text_color_black: #000 !default;
$text_color_muted: #777 !default;
$text_color_primary: $body_font_color !default;
$text_color_secondary: $body_font_color !default;
$text_color_success: $body_font_color !default;
$text_color_danger: $body_font_color !default;
$text_color_warning: $body_font_color !default;
$text_color_info: $body_font_color !default;
