<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500%7CMontserrat:600,700,800" media="all" />
    <% for (var file in htmlWebpackPlugin.files.css) { %>
      <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.urlContent(htmlWebpackPlugin.files.css[file]) %>" />
    <% } %>
    <title></title>
  </head>

  <body data-theme="default" data-text-size="norm" data-kerning="norm">
    <header role="banner">
      <div class="container">
        <div class="row">
          <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
            <ul>
              <li><a class="link" href="#">item 1 (default)</a></li>
              <li><a class="link link--neutral" href="#">item 2</a></li>
              <li><a class="link link--primary" href="#">item 4</a></li>
              <li><a class="link link--neutral" href="#">item 5</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="region-bg--mono-intro-separated" role="region">
      <div class="container">
        <div class="row">
          <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
            <p class="typography typography--secondary-medium">abcdefghijklmnopqrstuvwxyz<br />абвгдеёжзийклмнопрстуфхцчшщъыьэюя</p>
            <a class="link" href="#">action link</a>
          </div>
        </div>
      </div>
    </section>

    <section class="region-bg--mono-lower" role="region">
      <div class="container">
        <div class="row">
          <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
            <div class="elementor-bg--grey p-md">
              <div class="row">
                <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
                  <h1 class="typography typography--headline-1 typography--primary_higher">Typography</h1>
                </div>
              </div>

              <div class="row">
                <div class="column column--lg-3 column--md-3 column--sm-3 column--xs-3">
                  <div class="elementor-bg--grey-lower p-md mb-lg">
                    <p class="typography typography--md typography--primary-lower">contrast lower</p>
                    <p class="typography typography--md typography--primary-low">contrast low</p>
                    <a class="typography typography--md typography--primary-medium" href="#">contrast medium</a>
                    <p class="typography typography--md typography--primary_high">contrast high</p>
                    <p class="typography typography--md typography--primary_higher">contrast higher</p>
                  </div>
                </div>

                <div class="column column--lg-3 column--md-3 column--sm-3 column--xs-3">
                  <div class="elementor-bg--grey-lower p-md mb-lg">
                    <p class="typography typography--md typography--secondary-lower">contrast lower</p>
                    <p class="typography typography--md typography--secondary-low">contrast low</p>
                    <p class="typography typography--md typography--secondary-medium">contrast medium</p>
                    <p class="typography typography--md typography--secondary_high">contrast high</p>
                    <p class="typography typography--md typography--secondary_higher">contrast higher</p>
                  </div>
                </div>

                <div class="column column--lg-3 column--md-3 column--sm-3 column--xs-3">
                  <div class="elementor-bg--grey-lower p-md mb-lg">
                    <p class="typography typography--md typography--accent-lower">contrast lower</p>
                    <p class="typography typography--md typography--accent-low">contrast low</p>
                    <p class="typography typography--md typography--accent-medium">contrast medium</p>
                    <p class="typography typography--md typography--accent_high">contrast high</p>
                    <p class="typography typography--md typography--accent_higher">contrast higher</p>
                  </div>
                </div>

                <div class="column column--lg-3 column--md-3 column--sm-3 column--xs-3">
                  <div class="elementor-bg--grey-lower p-md mb-lg">
                    <p class="typography typography--md typography--mono-lower">contrast lower</p>
                    <p class="typography typography--md typography--mono-low">contrast low</p>
                    <p class="typography typography--md typography--mono-medium">contrast medium</p>
                    <p class="typography typography--md typography--mono_high">contrast high</p>
                    <p class="typography typography--md typography--mono_higher">contrast higher</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="region-bg--mono-low u:gapper-platter" role="region">
      <div class="container">
        <div class="row">
          <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
            <div class="elementor-bg--grey p-md">
              <div class="row">
                <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
                  <h1 class="typography typography--headline-1 typography--primary_higher">Button</h1>
                </div>
              </div>

              <div class="row">
                <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
                  <div class="elementor-bg--grey-lower p-md mb-lg">
                    <a class="btn btn--primary btn--md btn--fullwidth" rel="nofollow" target="_blank" href="/" title="">
                      <div class="btn__inner">
                        <span class="btn__text">Заявка&nbsp;на&nbsp;кредит</span>
                      </div>
                    </a>

                    <a class="btn btn--primary btn--xs" rel="nofollow" target="_blank" href="/" title="">
                      <div class="btn__inner">
                        <span class="btn__text">Заявка&nbsp;на&nbsp;кредит</span>
                      </div>
                    </a>

                    <a class="btn btn--primary btn--sm" rel="nofollow" target="_blank" href="/" title="">
                      <div class="btn__inner">
                        <span class="btn__text">Заявка&nbsp;на&nbsp;кредит</span>
                      </div>
                    </a>

                    <a class="btn btn--primary btn--md" rel="nofollow" target="_blank" href="/" title="">
                      <div class="btn__inner">
                        <span class="btn__text">Заявка&nbsp;на&nbsp;кредит</span>
                      </div>
                    </a>

                    <a class="btn btn--primary btn--lg" rel="nofollow" target="_blank" href="/" title="">
                      <div class="btn__inner">
                        <span class="btn__text">Заявка&nbsp;на&nbsp;кредит</span>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="column column--lg-4 column--md-4 column--sm-4 column--xs-4">
                  <div class="elementor-bg--grey-lower p-md mb-lg">
                  </div>
                </div>

                <div class="column column--lg-4 column--md-4 column--sm-4 column--xs-4">
                  <div class="elementor-bg--grey-lower p-md mb-lg">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
            <div class="elementor-bg--grey p-md">
              <div class="row">
                <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
                  <h1 class="typography typography--headline-1 typography--primary_higher">Input</h1>
                </div>
              </div>

              <div class="row">
                <div class="column column--lg-4 column--md-4 column--sm-4 column--xs-4">

                  <form class="form form-bg--primary-lower p-md mb-lg">
                    <div class="form-group">
                      <label class="form-label" for="username_control_id">
                        Username&nbsp;
                        <span class="form-label__required" title="Username">*</span>
                      </label>

                      <div class="form-input">
                        <input class="form-input__textbox" type="text" id="username_control_id" required runat="server" placeholder="Username" />
                        <fieldset aria-hidden="true" class="form-input__textbox-outline">
                          <legend>
                            <span>Username</span>
                          </legend>
                        </fieldset>

                        <div class="form-input__description">{{description}}</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label" for="email_control_id">
                        Email&nbsp;
                        <span class="form-label__required" title="Email">*</span>
                      </label>

                      <div class="form-input form-input--successed">
                        <input class="form-input__textbox" type="email" id="email_control_id" required runat="server" placeholder="Email" />
                        <fieldset aria-hidden="true" class="form-input__textbox-outline">
                          <legend>
                            <span>Email</span>
                          </legend>
                        </fieldset>

                        <div class="form-input__description">{{description}}</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label" for="password_control_id">
                        Password&nbsp;
                        <span class="form-label__required" title="Password">*</span>
                      </label>

                      <div class="form-input form-input--failed">
                        <input class="form-input__textbox" type="text" id="password_control_id" required runat="server" placeholder="Password" />
                        <fieldset aria-hidden="true" class="form-input__textbox-outline">
                          <legend>
                            <span>Password</span>
                          </legend>
                        </fieldset>

                        <div class="form-input__description">{{description}}</div>
                      </div>
                    </div>
                  </form>

                </div>

                <div class="column column--lg-4 column--md-4 column--sm-4 column--xs-4">
                  <div class="elementor-bg--grey-lower p-md mb-lg">
                    <div class="dropdown">
                      <div class="dropdown__trigger">
                        <span>{{config.placeholder}}</span>
                      </div>

                      <ul class="dropdown__list">
                        <li class="dropdown__listitem">
                          <span>{{ item.value.0 }}</span>
                        </li>
                        <li class="dropdown__listitem">
                          <span>{{ item.value.1 }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="column column--lg-4 column--md-4 column--sm-4 column--xs-4">
                  <div class="elementor-bg--grey-lower p-md mb-lg">

                    <div class="form-dropdown">
                      <select class="form-dropdown__select" name="{{name}}" required runat="server">
                        <option value="" selected disabled>{{placeholder}}</option>
                        <option value="{{item.value.0}}">{{ item.value.0 }}</option>
                        <option value="{{item.value.1}}">{{ item.value.1 }}</option>
                      </select>

                      <div class="form-dropdown__arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" height="15px">
                          <path d="m21 8.5-9 9-9-9" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"></path>
                        </svg>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="region-bg--mono-lower" role="region">
      <div class="container">
        <div class="row">
          <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
            <div class="elementor-bg--grey p-md">
              <div class="row">
                <div class="column column--lg-12 column--md-12 column--sm-12 column--xs-12">
                  <h1 class="typography typography--headline-1 typography--primary_higher">List</h1>
                </div>
              </div>

              <div class="row">
                <div class="column column--lg-3 column--md-3 column--sm-3 column--xs-3">
                  
                  <nav class="nav-list-wrap nav-list-wrap--side-left">
                    <ul class="nav-list">
                      <li class="nav-list__item">
                        <a class="link" href="#">
                          <span>item 1</span>
                        </a>
                      </li>
                      <li class="nav-list__item nav-list__item--is-active">
                        <span class="text">item 2</span>
                      </li>
                      <li class="nav-list__item">
                        <a class="link" href="#">
                          <span>item 3</span>
                        </a>
                      </li>
                      <li class="nav-list__item">
                        <a class="link" href="#">
                          <span>item 4</span>
                        </a>
                      </li>
                    </ul>
                  </nav>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <% for (var file in htmlWebpackPlugin.files.js) { %>
      <script src="<%= htmlWebpackPlugin.options.urlContent(htmlWebpackPlugin.files.js[file]) %>"></script>
    <% } %>
  </body>
</html>
