*,
::after,
::before {
  box-sizing: border-box;
}

@import "~timcowebapps/common.utils/src/string/replace";
@import "~timcowebapps/common.utils/src/string/remove-whitespace";
@import "~timcowebapps/common.ooscss/src/methodology/bem/index";
@import "../converters/unit";
@import "../modules/settings/index";
@import "../main";
body {
  font-family: Roboto, sans-serif;
}
@import "../extracts/rounded";
@import "../extracts/spacing";
@import "../components/grid/grid-vars";
@import "../components/grid/grid";

/**
 * Список пользовательский контрастов.
 */
$custom-color-contrastmap: (
  "lower":  ("s": 16%, "l": 25%),
  "low":    ("s": 62%, "l": 37%),
  "medium": ("s": 60%, "l": 48%),
  "high":   ("s": 50%, "l": 62%),
  "higher": ("s": 16%, "l": 75%)
);

@import "../modules/base/theme/constants";
@import "../modules/base/theme/palette/variants/index";

$custom-elementor_theme_set: (
  "night": (
    "main": (
      "primary": (
        "h": 218,
        "contrasts": $custom-color-contrastmap
      ),
      "secondary": $night_secondary_color_data,
      "accent": $night_accent_color_data
    ),
    "mono": (
      "h": 0,
      "contrasts": (
        "lower":  ("s": 0%, "l": 25%),
        "low":    ("s": 0%, "l": 37%),
        "medium": ("s": 0%, "l": 53%),
        "high":   ("s": 0%, "l": 67%),
        "higher": ("s": 0%, "l": 75%)
      )
    ),
    "feedback": (
      "info": (),
      "success": (),
      "warning": (),
      "error": ()

    ),
    "background": (),
    "foreground": ()
  )
);

@import "../components/typography/color/@exports";
@import "../components/link/link-variables";
@import "../components/link/link";
@import "../components/button/button-vars";
@import "../components/button/button-sizes";
@import "../components/button/button";
@import "../components/button/theme/_default";
@import "../components/button/theme/_night";
@import "../components/button/theme/sci-fi/borderless";
@import "../components/list/list-variables";
$custom_list_class_name: "nav-list";
$custom_list_theme_path: "theme/default";
@import "../components/list/list";
@import "../components/list/list-item-pseudo";
@import "../components/label/src/label-vars";
$label_name: "form-label";
@import "../components/label/src/label";
@import "../components/controls/form-textfield/textfield-vars";
@import "../components/controls/form-textfield/textfield-theme-fn";
@import "../components/controls/form-textfield/theme/_default";
@import "../components/controls/form-textfield/theme/_night";
@import "../components/controls/form-textfield/textfield";
@import "../components/controls/form-dropdown/form-dropdown-vars";
@import "../components/controls/form-dropdown/form-dropdown";
@import "../components/controls/form-dropdown/form-dropdown-custom";

%default_region {
  .region-bg {
    @include modifiers((), "mono-intro-separated") {
      background-image: linear-gradient(90deg,
        get_mono_color($DEFAULT_THEME_NAME, "low") 50%,
        get_mono_color($DEFAULT_THEME_NAME, "lower") 0
      );

      .typography {
        @include make_maincolor_contrast_modifiers($DEFAULT_THEME_NAME);
        @include make_monocolor_contrast_modifiers($DEFAULT_THEME_NAME);
      }
    }

    @include modifiers((), "mono-low") {
      background-color: get_mono_color($DEFAULT_THEME_NAME, "low");
    }

    .elementor-bg {
      @include modifiers((), "grey-lower") {
        background-color: get_color($DEFAULT_THEME_NAME, "primary", "lower");
        border-bottom: 4px solid get_color($DEFAULT_THEME_NAME, "primary", "medium");
      }

      @include modifiers((), "grey") {
        background-color: get_color($DEFAULT_THEME_NAME, "primary", "low");
      }
    }

    .typography {
      @include make_maincolor_contrast_modifiers($DEFAULT_THEME_NAME);
      @include make_monocolor_contrast_modifiers($DEFAULT_THEME_NAME);
    }
  }
}

// Светлая тема
[data-theme=#{$DEFAULT_THEME_NAME}] {
  @extend %default_region;

  .region-bg {
    @include modifiers((), "mono-lower") {
      background-color: get_mono_color($DEFAULT_THEME_NAME, "lower");

      //background-color: vtRgbColor.from_hsl(hsl(8deg, 20%, 67%));
      //background-color: vtRgbColor.from_hsl_3(48deg, 20%, 37%);
      //color: vtRgbColor.$val;

      .typography {
        @include make_maincolor_contrast_modifiers($DEFAULT_THEME_NAME);
        @include make_monocolor_contrast_modifiers($DEFAULT_THEME_NAME);
      }
    }
  }
}

// Темная тема
[data-theme=#{$NIGHT_THEME_NAME}] {
  .region-bg {
    @include modifiers((), "mono-lower") {
      background-color: get_mono_color($NIGHT_THEME_NAME, "lower");

      .typography {
        @include make_maincolor_contrast_modifiers($NIGHT_THEME_NAME);
        @include make_monocolor_contrast_modifiers($NIGHT_THEME_NAME);
      }
    }

    @include modifiers((), "mono-low") {
      background-color: get_mono_color($NIGHT_THEME_NAME, "low");
    }

    .elementor-bg {
      @include modifiers((), "grey-lower") {
        background-color: get_color($NIGHT_THEME_NAME, "primary", "lower");
        border-bottom: 4px solid get_color($NIGHT_THEME_NAME, "primary", "medium");
      }

      @include modifiers((), "grey") {
        background-color: get_color($NIGHT_THEME_NAME, "primary", "low");
      }
    }
  }
}

/**
 * Список пользовательских размеров шрифта.
 */
$font_sizemap_custom: ();
@import "../components/typography/font/@exports";
@import "../components/typography/font/customfont-vars";
$customfont_name: "roboto-medium";
$customfont_font_family: Roboto, sans-serif;
$customfont_font_weight: 400;
@import "../components/typography/font/customfont";
@import "../components/typography/text/text-truncate";
@import "../components/typography/text/text-vars";
@import "../components/typography/headline/headline-vars";
@import "../components/typography/headline/headline";
@import "../components/typography/typography";
@import "../modules/base/utilities/hidden";
@import "../modules/base/utilities/gapper";
@import "../components/menu-item/menu-item-variables";
@import "../components/menu-item/menu-item";
