@use "sass:list";
@use "sass:map";
@import "../../../extracts/gradient";
@import "./default-palette";

[data-theme=#{$DEFAULT_THEME_NAME}] {
  .#{$btn_name} {
    @each $key, $value in map.get(map.get($default_palette_button, "norm"), "window-background") {
      @include modifiers((), $key) {
        color: default_get_button_role("norm", "window_text-color");
        background-color: list.nth(default_get_button_role("norm", "window-background", $key), 1);

        @if $btn_skin_flatted {
          border-color: list.nth(default_get_button_role("norm", "window-border"), 1);
        } @else {
          border-color: default_get_button_role("norm", "window-border");

          .#{$btn_name} {
            @include element((), "inner") {
              @include gradient(
                to bottom,
                list.nth(default_get_button_role("norm", "window-background", $key), 1),
                list.nth(default_get_button_role("norm", "window-background", $key), 2));
            }
          }
        }

        transition-property: color, background-color, border-color;
        transition-duration: 0.3s;

        outline: 1px solid transparent;
        outline-offset: -3px;

        &:focus {
          outline-color: rgba(255 255 255 / 60%);
        }
      }
    }

    @each $key, $value in map.get(map.get($default_palette_button, "norm"), "window-background--highlighted") {
      @include modifiers((), $key) {
        &:hover {
          color: default_get_button_role("norm", "window_text-color--highlighted");
          background-color: list.nth(default_get_button_role("norm", "window-background--highlighted", $key), 1);

          @if $btn_skin_flatted {
            border-color: list.nth(default_get_button_role("norm", "window-border--highlighted"), 1);
          } @else {
            border-color: default_get_button_role("norm", "window-border--highlighted");
    
            .#{$btn_name} {
              @include element((), "inner") {
                @include gradient(
                  to bottom,
                  list.nth(default_get_button_role("norm", "window-background--highlighted", $key), 1),
                  list.nth(default_get_button_role("norm", "window-background--highlighted", $key), 2));
              }
            }
          }

          transition-property: color, background-color, border-color;
          transition-duration: 0.3s;
        }
      }
    }

    @include modifiers((condense: true), "primary", "fx-fade") {
      &:hover {
      }
    }
  }
}
