@use "sass:map";
@import "../functions";

$default_palette_button: ();
/** Ссылка на действие отключено */
$default_palette_button: map.merge($default_palette_button, base_set_color_group("disabled", #fff, #000));
/** Ссылка на действие с активным фокусом */
$default_palette_button: map.merge($default_palette_button, base_set_color_group("active", #fff, #000));
/** Ссылка на действие в нормальном состоянии */
$default_palette_button: map.merge($default_palette_button, ("norm": (
  /** Цвет текста */
  "window_text-color": #fff,
  "window_text-color--highlighted": #fff,
  /** Вариации общего цвета фона */
  "window-background": (
    /** Основной цвет в ввиде списка (больше одного - градиент) */
    "primary": make_component_linear_gradient($DEFAULT_THEME_NAME, "primary", "medium")
  ),
  "window-background--highlighted": (
    "primary": make_component_linear_gradient($DEFAULT_THEME_NAME, "primary", "high")
  ),
  "window-border": make_component_linear_gradient_border($DEFAULT_THEME_NAME, "primary", "high"),
  "window-border--highlighted": make_component_linear_gradient_border($DEFAULT_THEME_NAME, "primary", "higher")
)));

@function default_get_button_role($group_name, $role_name, $variant_name: null) {
  $role: map.get(map.get($default_palette_button, $group_name), $role_name);
  @if type-of($role) == "map" {
    @return map.get($role, $variant_name);
  }

  @return $role;
}
