///
/// Преобразует HSL в RGB формат
///
/// @param {color} $value - Значение цвета в формате HSL
///
/// @return {color} - Значение цвета в формате RGB
///
@function from_hsl($value) {
  @if (type-of($value) != "color") {
    @warn "You didn\'t pass a color object";
  }

  @return mix($value, $value);
}

///
/// Преобразует HSL в RGB формат
///
/// @param {number} $hue - Значение оттенка цвета
/// @param {number} $saturation - Значение насыщенности (число от 0 до 100)
/// @param {number} $lightness - Значение яркости (число от 0 до 100)
///
/// @return {color} - Цвета в формате RGB
///
@function from_hsl_3($hue, $saturation, $lightness) {
  $value: hsl($hue, $saturation, $lightness);
  @return mix($value, $value);
}
