$gapper_color: #fff;
$gapper_size: px_to_rem(15px, $body_font_size);
$gapper_directions: (
  l: left,
  r: right,
  b: bottom,
  t: top
);

// .u\: утилиты региона
.u\:gapper {
  border: $gapper_size solid $gapper_color;
}

.u\:gapper-l {
  border-#{map-get($gapper_directions, "l")}:
  $gapper_size solid $gapper_color;
}
.u\:gapper-r {
  border-#{map-get($gapper_directions, "r")}:
  $gapper_size solid $gapper_color;
}
.u\:gapper-b {
  border-#{map-get($gapper_directions, "b")}:
  $gapper_size solid $gapper_color;
}
.u\:gapper-t {
  border-#{map-get($gapper_directions, "t")}:
  $gapper_size solid $gapper_color;
}

.u\:gapper-platter {
  border: $gapper_size solid $gapper_color;
  border-bottom-width: 0;
}

@media (min-width: $screen_sm_min) {
  .u\:gapper-desktop-platter {
    border: $gapper_size solid $gapper_color;
    border-bottom-width: 0;
  }
}
