@mixin is_mobile {
  @media all and (max-width: $screen_sm_min) {
    @content;
  }
}

.is-hidden-mobile {
  @include is_mobile {
    display: none;
  }
}

@mixin is_desktop {
  @media all and (min-width: $screen_sm_min) {
    @content;
  }
}

.is-hidden-desktop {
  @include is_desktop {
    display: none;
  }
}

@media print {
  .d-print-none {
    display: none;
  }
}
