@use "sass:color";

:root {
  // NEUTRAL
  --link-neutral-text: #787878;
  --link-neutral-text-hovered: #{color.scale(#787878, $lightness: -30%)};
  --link-neutral-background: transparent;
  --link-neutral-background-hovered: transparent;

  // PRIMARY
  --link-primary-text: #4d79a3;
  --link-primary-text-hovered: #{color.scale(#4d79a3, $lightness: -30%)};
  --link-primary-background: transparent;
  --link-primary-background-hovered: transparent;
}
