@use "sass:map";
@use "sass:list";

///
/// Получает описание цвета палитры
///
/// @group Styling
///
/// @param {Map} $colors - Карта вариантов цвета
/// @param {String} $color_name - Название варианта цвета
///
/// @return {Map} - Описание цвета палитры
///
@function get_palette_color_info($colors, $color_name) {
  @return map.get($colors, $color_name);
}

///
/// Получает оттенок цвета
///
/// @group Styling
///
/// @param {Map} $colors - Карта цветовых вариантов
/// @param {String} $color_name - Название цветового варианта
///
/// @return {Number} - Оттенок цвета
///
@function get_palette_color_hue($colors, $color_name) {
  @return map.get(get_palette_color_info($colors, $color_name), "h");
}

@function get_palette_color_contrasts($colors, $color_name) {
  @return map.get(get_palette_color_info($colors, $color_name), "contrasts");
}

///
/// Получает насыщенность цвета
///
/// @group Styling
///
/// @param {Map} $contrasts - Карта контрастов
/// @param {String} $contrast_name - Название варианта контраста
///
/// @return {Number} - Насыщенность цвета
///
@function get_palette_color_saturation($contrasts, $contrast_name) {
  @return color_get_contrast_property($contrasts, "#{unquote($contrast_name)}:s");
}

///
/// Получает яркость цвета
///
/// @group Styling
///
/// @param {Map} $contrasts - Карта контрастов
/// @param {String} $contrast_name - Название варианта контраста
///
/// @return {Number} - Яркость цвета
///
@function get_palette_color_brightness($contrasts, $contrast_name) {
  @return color_get_contrast_property($contrasts, "#{unquote($contrast_name)}:l");
}

///
/// Получает компоненты цвета
///
/// @group Styling
///
/// @param {Map} $colors - Карта цветовых вариантов
/// @param {String} $color_name - Название цветового варианта
/// @param {String} $contrast_name - Название варианта контраста
///
/// @return {Map} - Компоненты цвета
///
@function get_palette_color_component_list($theme, $color_type, $color_name, $contrast_name, $use_root_variables: true) {
  $type_: "";

  @if $color_type == "mono" {
    $type_: map.get($theme, "variants");
  } @else if $color_type == "main" {
    $type_: map.get(map.get($theme, "variants"), $color_type);
  }

  $root_variable_name_: "#{$color_name}";
  $hue_: get_palette_color_hue($type_, $color_name);
  $contrasts_: get_palette_color_contrasts($type_, $color_name);
  $component_list_: ();

  @if $use_root_variables {
    $component_list_: list.append($component_list_, var(--#{$root_variable_name_}-h, $hue_));
    $component_list_: list.append($component_list_, var(--#{$root_variable_name_}-#{$contrast_name}-s, get_palette_color_saturation($contrasts_, $contrast_name)));
    $component_list_: list.append($component_list_, var(--#{$root_variable_name_}-#{$contrast_name}-l, get_palette_color_brightness($contrasts_, $contrast_name)));
  } @else {
    $component_list_: list.append($component_list_, $hue_);
    $component_list_: list.append($component_list_, get_palette_color_saturation($contrasts_, $contrast_name));
    $component_list_: list.append($component_list_, get_palette_color_brightness($contrasts_, $contrast_name));
  }

  @return $component_list_;
}

@function get_palette_color_component_list_tostr($theme, $color_type, $color_name, $contrast_name, $use_root_variables: true) {
  $component_list_: get_palette_color_component_list($theme, $color_type, $color_name, $contrast_name, $use_root_variables);
  $string_: "";

  @if $component_list_ and length($component_list_) > 0 {
    @if list.nth($component_list_, 1) and length(list.nth($component_list_, 1)) > 0 {
      $string_: list.nth($component_list_, 1);
    }

    @for $i from 1 to length($component_list_) {
      $separator_: ",";
      $string_: $string_ + $separator_ + list.nth($component_list_, $i + 1);
    }
  }

  @return $string_;
}
