///
/// Устанавливает группу цветов для каждого состояния
///
/// @group Palette
///
/// @param {String} $group_name - Название группы
/// @param {Color} $background [#FFF] - Основной цвет фона
/// @param {Color} $foreground [#000] - Основной цвет переднего плана
///
/// @return {Map} - Цветовые роли
///
@function base_set_color_group($group_name, $background: #FFF, $foreground: #000) {
  @return ($group_name: map-merge($base_color_role, (
    "window-background": $background,
    "window_text-color": $foreground
  )));
}

///
/// Устанавливает недоступную группу цветов для каждого состояния
///
/// @group Palette
/// @requires {function} set_color_group
/// @deprecated
///
/// @param {Color} $background [#FFF] - Основной цвет фона
/// @param {Color} $foreground [#000] - Основной цвет переднего плана
///
/// @return {Map} - Цветовые роли
///
@function default_set_disabled_group($background: #FFF, $foreground: #000) {
  @return base_set_color_group("disabled", $background, $foreground);
}

///
/// Устанавливает активную группу цветов для каждого состояния
///
/// @group Palette
/// @requires {function} set_color_group
/// @deprecated
///
/// @param {Color} $background [#fff] - Основной цвет фона
/// @param {Color} $foreground [#000] - Основной цвет переднего плана
///
/// @return {Map} - Цветовые роли
///
@function default_set_active_group($background: #fff, $foreground: #000) {
  @return base_set_color_group("active", $background, $foreground);
}

///
/// Устанавливает неактивную группу цветов для каждого состояния
///
/// @group Palette
/// @requires {function} set_color_group
/// @deprecated
///
/// @param {Color} $background [#FFF] - Основной цвет фона
/// @param {Color} $foreground [#000] - Основной цвет переднего плана
///
/// @return {Map} - Цветовые роли
///
@function default-set_inactive_group($background: #FFF, $foreground: #000) {
  @return base_set_color_group("inactive", $background, $foreground);
}
