@use "sass:string";
@use "sass:map";

///
/// Возвращает контраст по имени
///
/// @group Styling
///
/// @param {Map} $contrast_map - Карта контрастов
///
/// @return {Number} - Значение контраста в виде объекта
///
@function color_get_contrast($contrast_map, $contrast_variant_name: "medium") {
  @if not map-has-key($contrast_map, $contrast_variant_name) {
    @warn "`#{$contrast_variant_name}` не является действительным";
  }

  @return map.get($contrast_map, $contrast_variant_name);
}

///
/// Возвращает значение насыщенности(s) или светлоты(l) в процентах
///
/// @group Styling
/// @requires {function} color_get_contrast
///
/// @param {Map} $contrast_map - Карта контрастов
/// @param {String} $contrast_prop_name - Пара в виде строки
///
/// @return {Number} - Значение насыщенности(s) или светлоты(l) в процентах
///
/// @example scss
///   $saturation: color_get_contrast_property($custom-ContrastMap, "medium:s")
///
@function color_get_contrast_property($contrast_map, $contrast_prop_name) {
  $idx: string.index($contrast_prop_name, ":");
  $str_1: string.slice($contrast_prop_name, 1, $idx - 1);
  $str_2: string.slice($contrast_prop_name, $idx + 1);

  @return map.get(color_get_contrast($contrast_map, $str_1), $str_2);
}
