@use "./menu-item-properties" as props;
@layer base typography utilities;

@layer base {
  .#{$menu_item} {
    a {
      font-weight: 800;
      color: red; /* ignored */
    }

    .link {
      color: blue; /* ignored */
    }
  }
}

@layer typography {
  .#{$menu_item} {
    a {
      color: green; /* styles *all* links */
    }
  }
}

@layer utilities {
  .#{$menu_item} {
    .pink {
      color: hotpink; /* styles *all* .pink's */
    }
  }
}
