///
/// Миксина линейного градиента
///
/// @access public
///
/// @param {Keyword | Angle} $angle - Угол направления линии градиента.
/// @param {Arglist} $color_stop_list - Значение точки остановки цвета @type color
///
@mixin gradient($angle, $color_stop_list...) {
  @if $has_gradients {
    background-image: linear-gradient($angle, $color_stop_list);
  }
}
