@mixin rounded($radius) {
  @if $has_rounded_corners {
    border-radius: $radius;
  }
}

.rounded {
  @if $has_rounded_corners {
    border-radius: $corner_radius;
  }
}

.rounded-left,
.rounded-top {
  @if $has_rounded_corners {
    border-top-left-radius: $corner_radius;
  }
}

.rounded-left,
.rounded-bottom {
  @if $has_rounded_corners {
    border-bottom-left-radius: $corner_radius;
  }
}

.rounded-right,
.rounded-top {
  @if $has_rounded_corners {
    border-top-right-radius: $corner_radius;
  }
}

.rounded-right,
.rounded-bottom {
  @if $has_rounded_corners {
    border-bottom-right-radius: $corner_radius;
  }
}
