@use "sass:map";

@mixin make_monocolor_contrast_modifiers($theme_name) {
  @each $item in get_monocolor_description_array($theme_name) {
    $color_name_: map.get($item, "name");
    $color_components_: map.get($item, "components");

    @include modifiers(("condense": false, "debug": false), $color_name_) {
      color: var(--#{$color_name_}, #{unquote("hsl(#{$color_components_})")});
    }
  }
}

@mixin make_maincolor_contrast_modifiers($theme_name) {
  @each $item in get_maincolor_description_array($theme_name) {
    $color_name_: map.get($item, "name");
    $color_components_: map.get($item, "components");

    @include modifiers(("condense": false, "debug": false), $color_name_) {
      color: var(--#{$color_name_}, #{unquote("hsl(#{$color_components_})")});
    }
  }
}
