@use "sass:color";
@use "./menu-item-properties" as MenuItemProps;
@import "./menu-item";

@mixin menu_item_link() {
  @include element((), "link") {
    @extend %menu_item_wrap;

    color: MenuItemProps.$item_text_clr;
    text-decoration: none;
  }

  @include element((), "link") {
    &:hover {
      background-color: rgba(0 0 0 / 3.5%);
      color: MenuItemProps.$item_text_clr_hovered;
    }
  }
}

.menu-item {
  @include menu_item_link;

  position: relative;
  margin-bottom: px_to_rem(2px, $body_font_size);
}
