@use "sass:color";
@use "./menu-item-properties" as MenuItemProps;
@import "../typography/text/text-truncate";
@import "./menu-item";

@mixin menu_item_stup() {
  @include element((), "stup") {
    @extend %menu_item_wrap;
  }

  @include modifiers((), "not-allowed") {
    cursor: not-allowed;
  }

  @include modifiers((), "not-implemented") {
    &:hover {
      .menu-item {
        @include element((), "label") {
          color: transparent;

          &::before {
            content: attr(data-alt-text);
            background-color: MenuItemProps.$item_stup_pseudo_bkgd_clr;
            color: MenuItemProps.$item_stup_pseudo_fgnd_clr;
            font-size: MenuItemProps.$item_stup_pseudo_fontsize;
            font-weight: 700;
            text-transform: uppercase;
            width: calc(100% - #{px_to_rem(16px, $body_font_size)});
            padding: px_to_rem(6px, $body_font_size) px_to_rem(8px, $body_font_size);
            position: absolute;
            top: calc(50% - #{MenuItemProps.$item_ht} / 2);
            left: px_to_rem(7px, $body_font_size);
            height: MenuItemProps.$item_ht;

            // Обрезка текста
            @include text_truncate;
          }
        }
      }
    }
  }
}

.menu-item {
  @include menu_item_stup;

  position: relative;
  margin-bottom: px_to_rem(2px, $body_font_size);
}
