@use "sass:map";

$default_palette_textfield: ();
/** Текстовое поле отключено */
$default_palette_textfield: map.merge($default_palette_textfield, base_set_color_group("disabled", #fff, #000));
/** Текстовое поле с активным фокусом */
$default_palette_textfield: map.merge($default_palette_textfield, base_set_color_group("active", #fff, #000));
/** Текстовое поле в нормальном состоянии */
$default_palette_textfield: map.merge($default_palette_textfield, ("norm": (
  /** Общий цвет фона */
  "window-background": #fff,
  "window-background--highlighted": #eee,
  "window-background--successed": #d5ebe2,
  "window-background--successed-highlighted": #c6eede,
  "window-background--failed": #f5e6e5,
  "window-background--failed-highlighted": #f0d8d7,
  "window-border": get_color($DEFAULT_THEME_NAME, "primary", "high"),
  "window-border--highlighted": get_color($DEFAULT_THEME_NAME, "primary", "medium"),
  "window-border--successed": #4eb68c,
  "window-border--successed-highlighted": #4eb68c,
  "window-border--failed": #f0837d,
  "window-border--failed-highlighted": #db605a,
  /** Общий цвет переднего плана */
  "window_text-color": get_color($DEFAULT_THEME_NAME, "primary", "higher"),
  "window_text-color--highlighted": get_color($DEFAULT_THEME_NAME, "primary", "higher"),
  "placeholder_text-color": get_color($DEFAULT_THEME_NAME, "primary", "low")
)));
