@import "./night-palette";

%night_textfield_successed {
  .#{$textfield_name} {
    @include element((), "textbox") {
      background-color: get_textfield_role($night_palette_textfield, "norm", "window-background--successed");
      border-color: get_textfield_role($night_palette_textfield, "norm", "window-border--successed");

      &[runat="server"] {
        &:focus {
          background-color: get_textfield_role($night_palette_textfield, "norm", "window-background--successed-highlighted");
          border-color: get_textfield_role($night_palette_textfield, "norm", "window-border--successed-highlighted");
        }
      }
    }
  }
}

%night_textfield_successed_focused {
  .#{$textfield_name} {
    @include element((), "textbox") {
      background-color: get_textfield_role($night_palette_textfield, "norm", "window-background--successed-highlighted");
      border-color: get_textfield_role($night_palette_textfield, "norm", "window-border--successed-highlighted");
    }
  }
}

%night_textfield_failed {
  .#{$textfield_name} {
    @include element((), "textbox") {
      background-color: get_textfield_role($night_palette_textfield, "norm", "window-background--failed-highlighted");
      border-color: get_textfield_role($night_palette_textfield, "norm", "window-border--failed-highlighted");

      &[runat="server"] {
        &:focus {
          background-color: get_textfield_role($night_palette_textfield, "norm", "window-background--failed-highlighted");
          border-color: get_textfield_role($night_palette_textfield, "norm", "window-border--failed-highlighted");
        }
      }
    }
  }
}

%night_textfield_failed_focused {
  .#{$textfield_name} {
    @include element((), "textbox") {
      background-color: get_textfield_role($night_palette_textfield, "norm", "window-background--failed-highlighted");
      border-color: get_textfield_role($night_palette_textfield, "norm", "window-border--failed-highlighted");
    }
  }
}

[data-theme=#{$NIGHT_THEME_NAME}] {
  .#{$textfield_name} {
    @include element((), "textbox") {
      /* #region Стили шрифта */

      color: get_textfield_role($night_palette_textfield, "norm", "window_text-color--highlighted");

      /* #endregion */

      /* #region Цвет заливки */

      background-color: get_textfield_role($night_palette_textfield, "norm", "window-background");

      /* #endregion */

      /* #region Обводка элемента / Скругление углов */

      border-color: get_textfield_role($night_palette_textfield, "norm", "window-border");

      /* #endregion */

      &[runat="server"] {
        &:focus {
          background-color: get_textfield_role($night_palette_textfield, "norm", "window-background--highlighted");
          border-color: get_textfield_role($night_palette_textfield, "norm", "window-border--highlighted");
        }
      }
    }

    @include modifiers((), "failed") {
      @extend %night_textfield_failed;
    }

    @include modifiers((), "failed-focused") {
      @extend %night_textfield_failed_focused;
    }

    @include modifiers((), "successed") {
      @extend %night_textfield_successed;
    }

    @include modifiers((), "successed-focused") {
      @extend %night_textfield_successed_focused;
    }
  }
}
