@use "sass:list";
@use "sass:map";
@use "sass:meta";

@function init_object($name, $props) {
  @return map.merge(("class_name": $name), $props);
}

@function get_property($object, $keys...) {
  $scope: $object;
  $i: 1;

  @while (meta.type-of($scope) == map) and ($i <= list.length($keys)) {
    $scope: map.get($scope, list.nth($keys, $i));
    $i: $i + 1;
  }

  @return $scope;
}

@function set_property($props, $prop_path, $prop_value) {
  @return map.set($props, $prop_path, $prop_value);
}

@function is_not_null($prop) {
  @return $prop != null;
}
