@use "sass:list";

[data-text-size="norm"] {
  .typography {
    @each $property, $value in $font_sizemap {
      $idx: list.index($font_sizemap, ($property $value));

      @if $idx <= length($font_sizemap) - 2 {
        @include modifiers((), "#{$headline_name}-#{$idx}") {
          @include font_makesize($value, $body_line_height, 1);
        }
      }
    }
  }
}

[data-text-size="lg"] {
  .typography {
    @each $property, $value in $font_sizemap {
      $idx: list.index($font_sizemap, ($property $value));

      @if $idx <= length($font_sizemap) - 2 {
        @include modifiers((), "#{$headline_name}-#{$idx}") {
          @include font_makesize($value, $body_line_height, 1.5);
        }
      }
    }
  }
}

[data-text-size="lg:2"] {
  .typography {
    @each $property, $value in $font_sizemap {
      $idx: list.index($font_sizemap, ($property $value));

      @if $idx <= length($font_sizemap) - 2 {
        @include modifiers((), "#{$headline_name}-#{$idx}") {
          @include font_makesize($value, $body_line_height, 2);
        }
      }
    }
  }
}
