.#{$breadcrumbs_name} {
  @include element((), "item") {
    display: inline-block;
    margin: 0;
  }

  @include element((), "divider") {
    margin: $breadcrumbs_divider_margin;
  }

  @include element((), "title") {
    // Empty
  }
}
