.hexagon-clip-block {
  position: relative;
}

.hexagon-clip-each {
  display: block;
  position: relative;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: url("#hexagon-clip");
  transition: all 0.2s ease-in;
  margin: 0 auto;

  &:hover {
    background-color: #443c3b;
  }
}

.hexagon-clip-solid {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #594b48;
  background-blend-mode: hard-light;
}

.hexagon-clip-caption {
  color: #aaa082;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
