@use "sass:map";
@use "../../../modules/misc/resources/color-state" as color_state_obj;

$ctrl_state_map: ();
$ctrl_state_map: color_state_obj.new_state($ctrl_state_map, "norm");
$ctrl_state_map: color_state_obj.set_value($ctrl_state_map, "norm", "text", rgba(0, 0, 0, 70%));
$ctrl_state_map: color_state_obj.set_value($ctrl_state_map, "norm", "background", transparent);

%ctrl_norm {
  background-color: color_state_obj.get_value($ctrl_state_map, "norm", "background");
}
