@use "sass:map";
@use "../../../modules/misc/resources/color-state" as color_state_obj;
@use "./ctrl-state-map" as UICtrlStateMap;

.#{$label_name} {
  color: color_state_obj.get_value(UICtrlStateMap.$ctrl_state_map, "norm", "text");
  background-color: color_state_obj.get_value(UICtrlStateMap.$ctrl_state_map, "norm", "background");
  font-size: px_to_rem(14px, $body_font_size);
  font-weight: 600;
  line-height: px_to_rem(20px, $body_font_size);
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin-bottom: px_to_rem(6px, $body_font_size);
  width: auto;
  cursor: pointer;
  transition: color 0.2s ease-in, opacity 0.2s ease-in;

  &:hover {
    opacity: .8;
    transition: color 0.2s ease-out, opacity 0.2s ease-out;
  }

  @include element((), "required") {
    display: inline-block;
    vertical-align: middle;
    font-size: px_to_rem(14px, $body_font_size);
    line-height: 1;
    color: $label_required_color;
  }

  @include modifiers((), "with-help") {
    // Empty
  }
}
