$brick_name: "brick" !default;
$brick_background: #fff !default;
$brick_border: 1px solid #333 !default;

// Закругление углов
$brick_has_rounded_corners: false !default;
$brick_border_radius: 2px !default;

// Отбрасывание тени
$brick_has_cast_shadow: false !default;
$brick_box_shadow: 0 1px 1px 0 #333 !default;
$brick_header_background: transparent !default;
$brick_header_padding: 0.5rem px_to_rem(15px, $body_font_size) !default;
$brick_header_min_height: 3.5rem !default;
$brick_header_border_bottom: 1px solid #333 !default;
$brick_body_padding: px_to_rem(15px, $body_font_size) !default;
