.#{$brick_name} {
  background-color: $brick_background;
  background-clip: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  min-width: 0;
  width: 100%;

  @include modifiers((), "bordered") {
    border: $brick_border;
  }

  @include modifiers((), "rounded") {
    @if $brick_has_rounded_corners {
      border-radius: $brick_border_radius;
    }
  }

  @include modifiers((), "shadow") {
    @if $brick_has_cast_shadow {
      box-shadow: $brick_box_shadow;
    }
  }

  @include element((), "header") {
    background: $brick_header_background;
    display: flex;
    align-items: center;
    padding: $brick_header_padding;
    min-height: $brick_header_min_height;
    border-bottom: $brick_header_border_bottom;
  }

  @include element((), "body") {
    flex: 1 1 auto;
    margin: 0;
    padding: $brick_body_padding;
    position: relative;
  }
}
