/**
 * Построение размеров шрифта.
 *
 * @access private
 */
@mixin font_makesize_modifiers($dmTextSize) {
  @each $property, $value in $font_sizemap {
    @include modifiers((), $property) {
      @include font_makesize($value, $body_line_height, $dmTextSize);
    }
  }
}
