/**
 * Фабрика толщины начертания символов в тексте.
 *
 * @access private
 * @param {variable} $weight Насыщенность (толщина).
 */
@mixin font_weight_factory($weight) {
  @include modifiers((), "weight-#{$weight}") {
    font-weight: #{$weight};
  }
}

/**
 * Построение вариантов толщины.
 *
 * @access private
 */
@mixin font_makeweight_modifiers() {
  @for $index from 1 through 8 {
    $weight: #{$index}00;

    @include modifiers((), "weight-#{$weight}") {
      @include font_makeweight(#{$weight});
    }
  }
}
