@use "sass:map";

/**
 * Фабрика шрифта.
 *
 * @access private
 * @param {variable} $font_size_range Размеры шрифта.
 * @param {variable} $line_height Высота строки.
 * @param {variable} $dm_text_size Размер шрифта 100%/150%/200%.
 *
 * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])))
 */
@mixin font_makesize($font_size_range, $line_height, $dm_text_size) {
  $min_viewport_width: $screen_xs_min;
  $max_viewport_width: $screen_lg_min;
  $min_font_size: calc(#{px_to_rem(map.get($font_size_range, "min"), $body_font_size)} * #{$dm_text_size});
  $max_font_size: calc(#{px_to_rem(map.get($font_size_range, "max"), $body_font_size)} * #{$dm_text_size});

  font-size: $min_font_size;
  line-height: $line_height;

  @media screen and (min-width: $min_viewport_width) {
    font-size: calc(#{$min_font_size} + #{strip_unit(#{$max_font_size} - #{$min_font_size})} * ((100vw - #{$min_viewport_width}) / #{strip_unit($max_viewport_width - $min_viewport_width)}));
  }

  @media screen and (min-width: $max_viewport_width) {
    font-size: $max_font_size;
  }
}
