/* #region Переменные поля */

$textfield_name: "form-input" !default;
$textfield_has_placeholder: true !default;
$textfield_font_family: inherit !default;
$textfield_font_size: px_to_rem(18px, $body_font_size) !default;
$textfield_line_height: px_to_rem(42px, $body_font_size) !default;
$textfield_border_width: 2px !default;
$textfield_border_style: solid !default;
$textfield_border_radius: 0 !default;
$textfield_box_shadow: none !default;
$textfield_width: auto !default;
$textfield_height: px_to_rem(42px, $body_font_size) !default;
$textfield_padding: 0 px_to_rem(15px, $body_font_size) !default;
$textfield_margin: 0 !default;

/* #endregion */

// @function get_textfield_role($palette, $group_name, $role_name) {
// 	@return map-get(map-get($palette, $group_name), $role_name);
// }
