.#{$textfield_name} {
  @include element((), "textbox") {
    &:placeholder {
      text-decoration-color: blue;
      text-decoration-thickness: 2px;
      text-decoration-line: underline;
      text-underline-offset: 1px;
      opacity: 1;
    }

    /* #region Стили шрифта */

    font-family: $textfield_font_family;

    // color: get_textfield_role("norm", "window_text-color--highlighted");
    font-size: $textfield_font_size;
    line-height: $textfield_line_height;

    /* #endregion */

    /* #region Цвет заливки */

    // background-color: get_textfield_role("norm", "window-background");
    background-image: none;

    /* #endregion */

    /* #region Обводка элемента / Скругление углов */

    border-width: $textfield_border_width;
    border-style: $textfield_border_style;

    // border-color: get_textfield_role("norm", "window-border");
    border-radius: $textfield_border_radius;

    /* #endregion */

    /* #region Относительное позиционирование */

    position: relative;

    /* #endregion */

    /* #region Размер элемента */

    width: $textfield_width;
    height: $textfield_height;

    /* #endregion */

    /* #region Внешний и внутренний отступ */

    margin: $textfield_margin;
    padding: $textfield_padding;

    /* #endregion */

    box-sizing: border-box;
    outline: none;

    // &[runat="server"] {
    // 	&:focus {
    // 		background-color: get_textfield_role("norm", "window-background--highlighted");
    // 		border-color: get_textfield_role("norm", "window-border--highlighted");
    // 	}
    // }

    // @if $textfield_has_placeholder {
    // 	input::-webkit-input-placeholder { color: get_textfield_role("norm", "placeholder_text-color") }
    // 	input::-moz-placeholder { color: get_textfield_role("norm", "placeholder_text-color") }
    // 	input::-ms-input-placeholder { color: get_textfield_role("norm", "placeholder_text-color") }
    // }
  }

  // @include modifiers((), "failed") {
  // 	@extend %textfield--failed;
  // }

  // @include modifiers((), "failed-focused") {
  // 	@extend %textfield--failed-focused;
  // }

  // @include modifiers((), "successed") {
  // 	@extend %textfield--successed;
  // }

  // @include modifiers((), "successed-focused") {
  // 	@extend %textfield--successed-focused;
  // }
}
