$custom_link_class_name: "link" !default;
$custom_link_theme_path: "theme/default" !default;
$link_used_variant_name_list: "neutral" "primary" !default;
$link_used_variant_default: "primary" !default;

// TODO
$link_font_weight: normal !default;
$link_line_height: 1.25 !default;
$link_text_decoration: underline !default;
$link_text_transform: none !default;
$link_border_width: 0 0 1px !default;
$link_border_style: dotted !default;
$link_border_color: transparent !default;
$link_border_color_hover: transparent !default;
$link_padding: 0 !default;
