$night_accent_rgb: #e3bf63;
$night_accent_rgb_hue: extract_hue($night_accent_rgb); // 43
$night_accent_rgb_saturation: extract_saturation($night_accent_rgb); // 70%
$night_accent_rgb_brightness: extract_brightness($night_accent_rgb); // 64%

///
/// Данные акцентного цвета (тон, варианты контраста [насыщенность, яркость])
/// @type Map
///
$night_accent_color_data: ("h": $night_accent_rgb_hue, "contrasts": (
  /** Переход от темного к светлому */
  "lower":  ("s": 10%, "l": 20%), // #38362E
  "low":    ("s": 16%, "l": 32%), // #5F5945
  "medium": ("s": 70%, "l": 64%), // #E3BF63
  "high":   ("s": 58%, "l": 86%), // #F0E8C7
  "higher": ("s": 33%, "l": 97%)  // #FAF9F5
));
