$night_primary_rgb: #3167c4;
$night_primary_rgb_hue: extract_hue($night_primary_rgb); // 218
$night_primary_rgb_saturation: extract_saturation($night_primary_rgb); // 60%
$night_primary_rgb_brightness: extract_brightness($night_primary_rgb); // 48%

///
/// Данные основного цвета (тон, варианты контраста [насыщенность, яркость])
/// @type Map
///
$night_primary_color_data: ("h": $night_primary_rgb_hue, "contrasts": (
  /** Переход от темного к светлому */
  "lower":  ("s": 16%, "l": 25%),
  "low":    ("s": 32%, "l": 37%),
  "medium": ("s": 60%, "l": 48%),
  "high":   ("s": 32%, "l": 62%),
  "higher": ("s": 16%, "l": 75%)
));
