$night_secondary_rgb: #3189c4;
$night_secondary_rgb_hue: extract_hue($night_secondary_rgb); // 204
$night_secondary_rgb_saturation: extract_saturation($night_secondary_rgb); // 60%
$night_secondary_rgb_brightness: extract_brightness($night_secondary_rgb); // 48%

///
/// Данные второстепенного цвета (тон, варианты контраста [насыщенность, яркость])
/// @type Map
///
$night_secondary_color_data: ("h": $night_secondary_rgb_hue, "contrasts": (
  /** Переход от темного к светлому */
  "lower":  ("s": 16%, "l": 25%),
  "low":    ("s": 32%, "l": 37%),
  "medium": ("s": 60%, "l": 48%),
  "high":   ("s": 32%, "l": 67%),
  "higher": ("s": 16%, "l": 75%)
));
